parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        -
            messages:
                - '#Cannot call method [a-zA-Z0-9\\_]+\(\) on TValue of mixed.#'
                - '#Cannot access property \$(?:name|value) on TValue of mixed#'
            path: src/CasesCollection.php
        -
            identifier: trait.unused
includes:
    - phpstan-baseline.neon
