parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - '#Access to an undefined property (?:TEnum of )?[a-zA-Z0-9\\_]+::\$value.#'
        - '#Call to an undefined (?:static )?method (?:TEnum of )?UnitEnum::[a-zA-Z0-9\\_]+\(\).#'
includes:
    - phpstan-baseline.neon
